body {
    margin: 0px auto;
	background-color: white;
	/*background-image: url("../content/background2.png");*/
	background-repeat: repeat-x;
	/*border: 2px solid gray;
    border-radius: 5px;*/	

}

html {
	overflow-y: scroll;
}


::-webkit-scrollbar{
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #00b0bb; 
    -webkit-border-radius: 10px;
	background: #cdf0f2;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:white; 
    -webkit-box-shadow: inset 0 0 6px #034984; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

#main {
	margin-left: 10%;
	width:80%;	
}
nav ul{
    padding: 0;
    list-style-type: none;
	margin:0;
	background:#00b0bb;
	overflow:hidden;
	font-size: 150%;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
	margin-bottom:0;
	margin:0;
}
nav ul li{
    display: block;
	margin:0;
	float:left;
	border-right: 1px solid white;
	padding: 0;
}

li.right-align{
	float:right;
	border-right: 0;
	border-left: 1px solid white;
}

li.active{	
	background:white;
}
li.active:hover{
	background-color:white;
}

a.active {
	color:gray;
	pointer-events: none;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}



nav a {
    text-decoration: none;
    color: white;	
	padding: 14px 16px;
	text-align: center;
}
nav li:hover {
    text-decoration: none;
	background-color: #23e1e1
}


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

header {
}


h1.center{	
	
    font-family:'Palatino Linotype', Palatino, serif;
	text-align:center;	
	line-height:0.9em;
	margin-top: 1em;
}

#banner {
    background-image: url('../content/banner/name_no_shadow.png'), url('../content/banner/photo_no_shadow.png'), url('../content/banner/banner_L_no_shadow.png'),url("../content/banner/banner_R_no_shadow.png");
    background-size: 274px, 235px, 711px, 711px;
    height:174px;
	background-position: left 15% top 5px, right, left, right;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	/*background-color: #00b0bb;*/
	
}

/*#banner {
    background-image:url('../content/banner_new.png');
    background-size:711px;
    height:198px;
	background-position:center;
	background-repeat: no-repeat;
	
}*/

h2 {
	margin-top: 3em;
}


h2.cv {
    font-size: 2em;
    font-family:'Palatino Linotype', Palatino, serif;
}

h2.cyan {
    color:cyan;
}

h2.fuchsia {
    color:DeepPink;
}
h2.orange {
    color:orange;
}
h2.green {
    color:green;
}
h2.pink {
    color:hotpink;
}
h2.mustard {
    color:olive;
}

h3 {
	text-align:center;
}

span.black {
	color:black;
}

#section img {
	float:left
}

p {
	font-family:'Cambria';
	font-weight: lighter;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

deadlink {
	color: #bfbfbf
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

p.abstract {
	margin-left: 3em;
	margin-right: 0;
}

div.name-align {
	margin-left: 4.5em;
}

#picture {
		float:right;
	}
	
	
.center-text {
	text-align: center;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.aligncenter {
	float: center;
}
