

body {
    margin: 0px auto;
	background-color: none;
	padding-bottom:50px;
	/* background-image: url("../content/background2.png"); */
	background-repeat: repeat-x;
	/*border: 2px solid gray;
    border-radius: 5px;*/	


}

/* #main_header { */
	/* position: relative; */
	/* z-index: 10; */
/* } */

html {
	overflow-y: scroll;
	overflow-x: auto;
}


::-webkit-scrollbar{
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #00b0bb; 
    -webkit-border-radius: 10px;
	background: #cdf0f2;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:white; 
    -webkit-box-shadow: inset 0 0 6px #034984; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: white; 
}

#main {
	margin-left: 10%;
	width:80%;	
}


footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
	margin-bottom:0;
	margin:0;
}

nav ul{
    padding: 0;
    list-style-type: none;
	margin:0;
	background:#00b0bb;
	overflow:hidden;
	font-size: 150%;

}
nav {	
	z-index: 5;
}

/* nav ul:hover { */
	/* z-index: 10; */
/* } */

nav ul li{
    display: block;
	margin:0;
	float:left;
	border-right: 1px solid white;
	
	padding: 0;
}


nav a {
    text-decoration: none;
    color: white;	
	padding: 14px 16px;
	text-align: center;
}
nav li:hover {
    text-decoration: none;
	background-color: #23e1e1;
}




#bar{
	position: -webkit-sticky;
    position: sticky;
    top: 0;
	/* z-index: 0; */
}

#musicbar{
	position: -webkit-sticky;
    position: sticky;
    top: 28px;
}

.stickybar {
	position: fixed;
	top: 30;
	width: 100%;
}

.sticky{
	position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.links{
	background: white;
}


li.right-align{
	float:right;
	border-right: 0;
	border-left: 1px solid white;
}

li.active{	
	background:white;
}

/* li.active:active{ */
	
	/* pointer-events: none; */
/* } */
li.active:hover{
	background-color:white;
}

a.active {
	color:gray;
	pointer-events: none;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}


#bug_feature {
 position:absolute;
 top:200px;
 left:730px;
 width:450px;
 /* visibility: hidden; */
}

.fade {
	
  opacity: 1;
  z-index: 100;
  position: absolute;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

header {
}


h1.center{	
	
    font-family:'Palatino Linotype', Palatino, serif;
	text-align:center;	
	line-height:0.9em;
	margin-top: 1em;
}




#banner {
    background-image: url('../content/banner/name_no_shadow.png'), url('../content/banner/photo_no_shadow.png'), url('../content/banner/banner_L_no_shadow.png'),url("../content/banner/banner_R_no_shadow.png"), url("../content/background2.png") ;
    background-size: 274px, 235px, 711px, 711px, 1200px;
    height:172px;
	background-position: left 15% top 5px, right, left, right, right;
	background-position-x: 15%, 100%, 0%, 100%, 100%;
	background-position-y:  3%, 0%, 0%, 0%, 0%;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	
}





h2 {
	margin-top: 3em;
}


h2.cv {
    font-size: 2em;
    font-family:'Palatino Linotype', Palatino, serif;
}

h2.cyan {
    color:cyan;
}

h2.fuchsia {
    color:DeepPink;
}
h2.orange {
    color:orange;
}
h2.green {
    color:green;
}
h2.pink {
    color:hotpink;
}
h2.mustard {
    color:olive;
}

h3 {
	text-align:center;
}

span.black {
	color:black;
}

#section img {
	float:left
}

p {
	font-family:'Cambria';
	font-weight: lighter;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

deadlink {
	color: #bfbfbf
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

p.abstract {
	margin-left: 3em;
	margin-right: 0;
}

div.name-align {
	margin-left: 4.5em;
}

#picture {
		float:right;
	}
	
	
.center-text {
	text-align: center;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.section {
	position:fixed;
}


/* .music { */
	/* width: "100%";  */
   /* height: "130"; */
/* } */

/* Tooltip container */
.tooltip {
  /* height=130; */
  /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
  
}

li.tooltip {
	display: block;
	position: static;
	/*li already has a border*/
}

div.tooltip {
  display: inline-block;
  position: relative;
  width:30%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0); /* Mouse-over doesn't work exactly right without a border */
 
  
}

.tt_menu {
	position: absolute;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #AEFBFF;
  border: 1px solid #005c61;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 20px;
  border-style:visible;
  font-size:25px;
  /* bottom: -20%; */
  /*display: inline-block;*/
    position: absolute;
 

  z-index: 5;
  
  /* Fade */
  opacity: 0;
  /* transition: opacity 0.5s; */
  /* Make tooltip ignore self-hover */
  pointer-events: none;
  
}



.tooltip .tooltiptext #after,
.tooltip .tooltiptext #before {
    left: 0%;
    top: 0%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
	border-height: 30px;
}

.tooltip .tooltiptext #after {
    border-color: rgba(255, 255, 204, 0);
    border-bottom-color: #AEFBFF; /*Inner color of triangle*/
    border-width: 30px;/*15px;                                 <---when using overlay*/
    margin-top: -60px; /*-30px;                                <---when using overlay*/
	margin-left: 1px;
}
.tooltip .tooltiptext #before {
    border-color: rgba(255, 204, 0, 0);
    border-bottom-color: #005c61; /*Border color of triangle*/
    border-width: 31px; /*16px;                                <---when using overlay*/
    margin-top: -62px; /*-32px;                                <---when using overlay*/
}


li.tooltip .tooltiptext {
    left: 50%;
	-ms-transform: translate(-50%, 30px);
	-webkit-transform: translate(-50%, 30px);
    transform: translate(-50%, 30px);
	width: 100%;
	
	
	
}



div.tooltip .tooltiptext {  /* Position the tooltip text - see examples below! */
  width: 300%;
  /* top: 110%;                                               <---when using overlay*/
  top: 85%; /* Doesn't change anything on firefox */
}


/* li.tooltip .tooltiptext #before,   */
/* li.tooltip .tooltiptext#after { */
	/* position: absolute;  */
/* } */

/* div.tooltip .tooltiptext #before,   */
/* div.tooltip .tooltiptext #after { */
	
/* } */

.overlay{
    position:fixed;
    top:0;
    left:0;
    background: black;
    width:100%;
    height:100%;
    display:block;
	z-index: 0;
	pointer-events: none;
	opacity: 0;
	transition: opacity 2s;
}

/* #overlay_surround{     */
    /* z-index:0; */
/* } */

/* #overlay_complete{ */
	/* z-index:3; */
/* } */

iframe.music {
	width:100%;
	background: white;
	background: rgba(1,1,1,0);
	border: solid white 5px;
	border-radius: 20px;
	z-index: 0;
}

#musicFrame, #mainFrame {
	
  
  width: 100%;
  z-index: 0;
	/* border: solid rgba(1,1,1,0) 5px; */
	/* border-radius: 20px; */
	background = rgba(1,1,1,0);
	border: none;
	position:relative;
	transition: opacity=2s;
	
}

/* #musicFram { */
	
	/* height: 500px; */
/* } */

#musiccontainer {
	pointer-events: none;
	position:relative;
	display: block;
	z-index:1;
}

.loading {
	background: white /*url(../content/loading.gif) center top no-repeat*/;
	
	width:100%;
	height:100%;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	display: "block";
	z-index:3;
	
	
}

#trackbg{
    position:absolute;
    top:0;
    left:0;
	/* z-index: 6; */
    background:rgba(0,0,0,1);
    width:100%;
    height:100%;
    display:block;
}


.tooltip .tooltiplink {
  visibility: hidden;
  background-color: white;
  border: 2px dotted #005c61;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border-style:visible;
  /* font-size:20px; */
  /*display: inline-block;*/
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 10%;
  right: 10%;
  width: 25%;
  z-index: 2;
  
  /* Fade */
  opacity: 1;
  /* transition: opacity 1s; */
	
}


.pos_l{
	left:0%;
}


.pos_c{
	left:-100%;
	
}

.pos_r{
	left:-200%;
}

.tooltiptext.pos_c:before,  
.tooltiptext.pos_c:after {
	left: 47%;
}

.tooltiptext.pos_r:before,
.tooltiptext.pos_r:after {
	left:81%;
 } 



/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  /* transition-delay: 0.5s; */
}

.tooltip:hover .tooltiplink {
  visibility: visible;
  opacity: 1;
  /* transition-delay: 0.5s; */
  
}

.loader {
	/*https://projects.lukehaas.me/css-loaders/*/
color: #00b0bb;
font-size: 90px;
text-indent: -9999em;
overflow: hidden;
width: 1em;
height: 1em;
border-radius: 50%;
margin: 72px auto;
position: relative;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



