body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}

anav {
    text-decoration: none;
    color: #999;
}
anav:hover {
    text-decoration: underline;
}

deadlink {
	color: #bfbfbf
}

.center-text {
	text-align: center;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

h1 {
    font-size: 3em;
    font-family:'Palatino Linotype', Palatino, serif;
	text-align:center;
}

h2 {
    font-size: 2em;
    font-family:'Palatino Linotype', Palatino, serif;
}

h2.cyan {
    color:cyan;
}

h2.fuchsia {
    color:DeepPink;
}
h2.orange {
    color:orange;
}
h2.green {
    color:green;
}
h2.pink {
    color:hotpink;
}
h2.mustard {
    color:olive;
}

span.black {
	color:black;
}


#section img {
	float:left
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
